<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jonathan A. Boostrap Helper | AI </title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <meta name="theme-color" content="#712cf9">
  <script src="js/app.js" type="module"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.0/dist/purify.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</head>

<body data-theme="dark">
  <div id="app" class="mx-2 mt-2 translate-top position-fixed" style="width: -webkit-fill-available;">
    <div v-if="isLoading" class="d-flex justify-content-center bg-transparent align-items-center"
      style="height: 100vh;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div v-else>
      <div class="chat-container rounded-5">
        <div class="chat-header d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <img src="images/n8t8n-profile-jonathan-a-linkedin-sales.jpg" alt="Profile Image"
              class="profile-image rounded-circle me-2" width="40">
            <div class="d-flex flex-column">
              <span class="fw-bold">Bootstrap Helper (test)</span>
              <span>by <a href="https://pa.linkedin.com/in/n8t8n" class="fw-light">Jonathan A.</a>
              </span>
            </div>
          </div>

          <div class="col-auto">
            <button type="button" class="rounded-pill btn btn-settings border-0 dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <i class="bi bi-gear"></i>
            </button>
            <form class="width-menu shadow rounded-4 dropdown-menu border p-4">
              <!-- Hidden username field for accessibility -->
              <input type="text" name="username" autocomplete="username" style="display:none;">
              <div class="mb-3">
                <label for="apiKeyInput" class="form-label">API Key</label>
                <input type="password" v-model="apiKey" class="form-control" id="apiKeyInput"
                  placeholder="Enter your API Key" autocomplete="new-password">
              </div>
              <div class="d-none  mb-3">
                <label for="contextoInput" class="form-label">Context</label>
                <textarea disabled type="text" v-model="contexto" class="form-control" id="contextoInput"
                  placeholder="Enter a context"></textarea>
              </div>
              <div class="mb-3">
                <label for="modelSelect" class="form-label">Model Selection</label>
                <select v-model="selectedModel" class="form-select" id="modelSelect">
                  <!-- <option value="hf:mistralai/Mistral-7B-Instruct-v0.3">🟡 Mistral-7B-Instruct-v0.3</option> -->
                  <option value="hf:Qwen/Qwen2.5-Coder-32B-Instruct">✅ Qwen2.5-Coder-32B-Instruct</option>
                  <!-- <option value="hf:meta-llama/Meta-Llama-3.1-70B-Instruct">🔵 meta-llama/Meta-Llama-3.1-70B-Instruct -->
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <label class="form-check-label" for="saveApiKeyCheck">
                    Wanna save this locally for a bit?
                  </label>
                  <input type="checkbox" v-model="saveApiKey" class="form-check-input bg-transparent"
                    id="saveApiKeyCheck">
                </div>
              </div>
              <div class="d-flex gap-3 justify-content-end flex-wrap">
                <button type="button" class="btn btn-remove rounded-3" @click="clearApiKey">Remove API key &
                  Context</button>
                <button aria-expanded="false" data-bs-auto-close="outside" type="button" class="btn btn-api rounded-3"
                  @click="activateApiKey">Enable Chat</button>
              </div>
            </form>
          </div>
        </div>

        <div class="gap-4 chat-log d-flex flex-column p-2" ref="chatLog">
          <div class="border p-2 shadow rounded-4 m-3" v-if="!chatLog.some(msg => msg.role === 'user')">
            <div class="p-3 lead fs-5 text-break" id="typing-effect"></div>
          </div>
          <div class="chat-message" v-for="(message, index) in chatLog" :key="index">
            <div :class="['message-content shadow-sm', message.role === 'user' ? 'message-user' : 'message-ai']">
              <div class="username">{{ message.role === 'user' ? 'You' : 'AI' }}</div>
              <div class="message" v-html="formatMessage(message.content, index)"></div>
              <div v-if="hasBootstrapCode(message.content) && message.role === 'assistant'" class="d-flex flex-column">
                <button class="btn btn-render text-white" @click="togglePreview(index)">
                  Preview in New Tab
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute bottom-0 rounded-5 rounded-top input-container">
          <form @submit.prevent="sendMessage" class="bg-input d-flex align-items-end">
            <div ref="messageInput" class="input-wrapper flex-grow-1" contenteditable="true"
              data-placeholder="Type your message..." @input="handleInput" @keydown="handleKeydown"></div>
            <button type="submit" class="align-self-center btn-send">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="alertContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <!-- Alerts will be dynamically added here -->
  </div>


</body>

</html>